.example-card {
    max-width: 800px;
  }
  
  .center {
    width: 75%;
    margin: 0 auto;
  }

  .main-div {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.youtube-player {
  width: calc(100%);
  margin: 0 8x 0px 8px;
}  