.content {
  height: 100%;
  place-content: center;
  align-items: center;
  align-content: center;
}

.full-width {
  width: 70%;
  min-width: 800px;
  margin-top: -25px;
}

.youtube-player {
  width: calc(100%);
  min-height: 350px;
  min-width: 400px;
  margin: 0 8x 0px 8px;
}  