.content {
  height: 100%;
  min-height: 450px;
  min-width: 450px;
  place-content: center;
  align-items: center;
  align-content: center;
}

.full-width {
  width: calc(60%);
  min-width: 425px;
}

.youtube-player {
  width: calc(100%);
  min-height: 350px;
  min-width: 400px;
  margin: 0 8x 0px 8px;
}  