<div fxLayout="column" fxFill>
  <h2 mat-dialog-title fxFlex=10>{{titleDialog}}</h2>
  <div mat-dialog-content fxFlex=80 fxLayout="row">
    <div fxLayout="column" fxFlex="60">
      <mat-form-field>
        <input matInput placeholder="Вопрос" [(ngModel)]="questionForm.text"
          (ngModelChange)="changeVal(true)" required [disabled]="!editable">
      </mat-form-field>
      <mat-form-field>
        <!-- <input matInput placeholder="Ссылка на видео Youtube" [(ngModel)]="questionForm.youtubeVideoUrl"
          (ngModelChange)="changeVal(true)" required> -->
        <input matInput placeholder="Ссылка на видео Youtube" [ngModel]="questionForm.youtubeVideoUrl" 
          (blur)="changeYoutubeLink($event.target.value)" required [disabled]="!editable">
        <mat-hint>Идентификатор Youtube видео: {{questionForm.youtubeVideoId}}</mat-hint>
      </mat-form-field>
      
      <mat-form-field>
          <input matInput hidden> <!--hack for work mat-form-ontrol-->
          <div fxLayout="column">
            <button mat-stroked-button class="answer-select" [disabled]="!editable">
              <div fxFlex fxLayoutAlign="space-between center">
                <span>{{questionForm.correctAnswer.text}}</span>
                <mat-icon>edit</mat-icon>
              </div>
            </button>
          </div>   
          <mat-hint>Правильный ответ</mat-hint>   
      </mat-form-field>
      
      <mat-form-field *ngFor="let index of [0, 1, 2, 3]">
          <input matInput hidden> <!--hack for work mat-form-ontrol-->
          <div fxLayout="column">
            <button mat-stroked-button class="answer-select" (click)="selectAnswer(index)" [disabled]="!editable">
              <div fxFlex fxLayoutAlign="space-between center">
                <span *ngIf="questionForm.answers && questionForm.answers[index]">{{questionForm.answers[index].text}}</span>
                <span *ngIf="!questionForm.answers || !questionForm.answers[index]">Выберите ответ №{{index + 1}} *</span>
                <mat-icon>edit</mat-icon>
              </div>
            </button>
          </div>   
          <mat-hint>Возможный ответ № {{index + 1}}</mat-hint>   
      </mat-form-field>
    </div>
    <!-- <div fxLayout="column" fxFlex="40" fxLayoutAlign="center center">
        <iframe
          class="youtube"
          frameborder="0"
          allow="autoplay; encrypted-media; picture-in-picture"
          [src]="questionForm.youtubeVideoUrl | safe">
        </iframe>
    </div> -->
  </div>

  <div mat-dialog-actions fxFlex=10 fxLayoutAlign="center">
      <button mat-flat-button (click)="onSave()">{{buttonSave}}</button>
      <button mat-flat-button (click)="onCancel()">Отмена</button>
  </div>
</div>