<div *ngIf="info.token" class="mt-5">
  <h5>Your Information</h5>
  <div class="container">
    <div class="row">
      <div class="col col-2">
          <strong>Username:</strong>
      </div>
      <div class="col">
          {{info.username}}
      </div>
    </div>
  
    <div class="row">
      <div class="col col-2">
          <strong>Roles:</strong>
      </div>
      <div class="col">
          {{info.roles}}
      </div>
    </div>
  
    <div class="row">
      <div class="col col-2">
          <strong>Authorities:</strong>
      </div>
      <div class="col">
          {{info.authorities}}
      </div>
    </div>
  
    <div class="row">
      <div class="col col-2">
          <strong>Issue date::</strong>
      </div>
      <div class="col">
          {{info.issueDate}}
      </div>
    </div>
    
    <div class="row">
      <div class="col col-2">
          <strong>Expired date::</strong>
      </div>
      <div class="col">
          {{info.expiredDate}}
      </div>
    </div>
    
    <div class="row">
      <div class="col col-2">
          <strong>Token:</strong>
      </div>
      <div class="col col-8" style="word-wrap: break-word;"> 
          {{info.token}}
      </div>
    </div>
    <a class="btn btn-primary" routerLink="/start-quest">Начать квест</a>
  </div>
</div>