<div *ngIf="info.token" class="container content"
  fxLayout="column"
  fxLayoutAlign="center center">
  <!-- <div class="container"> -->
    <div class="jumbotron">
      <!-- <p class="lead">
          Мы рады приветствовать Вас на нашем сайте.<br>
          И предлагаем Вам пройти квест, после которого Вы получите сюрприз.
      </p> -->
        Давным-давно,  когда в лесах грибов и ягод было вдоволь, а в прудах и реках рыба водилась. Жил народ в княжестве ИРИС,  да не тужил.<br />
        Вот пришла весна долгожданная. Солнышко стало пригревать, снег начал таять... И наступил тут праздник радостный, светлый, для всего честного народа.<br />
        Пришла пора всем богатырям ИРИСа, жен своих поздравлять, сестер, дочерей, и  конечно же, боевых подруг своих, несущих вместе службу нелегкую.<br />
        Призадумались богатыри крепко, какие слова молвить барышням ИРИСа, самым распрекрасным, а потом и порешили составить грамоту берестянную с поздравлением:<br />
        <br />
        <div class="letter">
          Ой вы девицы наши прелестные!<br />
          Ой вы жены наши ласковые, Хозяюшки!<br />
          Благодарим вас и низко кланяемся.<br />
          За любовь вашу, за доброту и заботу!<br />
          За детей,  что заменят нас в грядущем!<br />
          За мудрость вашу, коей вы советы даете!<br />
          За глаза ваши,  озерам подобные!<br />
          За голоса ваши мелодичные нежные!<br />
          За ваш смех веселый звонкий!<br />
          За то, что дома ждёте нас!
        </div>
      <hr class="my-4">
      <p class="lead" style="text-align: center;">
        <a class="btn btn-primary" routerLink="/start-quest">Начать квест</a>
      </p>
    </div>
    
  <!-- </div> -->

</div>